@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee+Inline&family=Bungee+Spice&family=Geist:ital,wght@0,100..900;1,100..900&family=Jersey+10&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap");

@import "tailwindcss";

@theme {
  --color-main-dark: black;
  --color-main-light: white;

  --font-geist: "Geist", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-jersey: "Jersey 10", sans-serif;
  --font-press-start: "Press Start 2P", cursive;
  --font-bungee-inline: "Bungee Inline", cursive;
  --font-bungee-spice: "Bungee Spice", cursive;
  --font-audiowide: "Audiowide", sans-serif;
}

body {
  font-family: "Geist", sans-serif;
  margin: 0;
}

h1,
h2 {
  font-family: "Geist", sans-serif;
}
