@import "tailwindcss";

@theme {
  --color-main-dark: #4f352e;
  --color-main-light: #f0eee6;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

h1 {
  font-family: "Inter", serif;
}

h2 {
  font-family: "space Grotesk", serif;
}
